/*! HTML5 Boilerplate v7.1.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 1.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

 
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}




 /* ==========================================================================
   Author's custom styles
   ========================================================================== */

html {
    box-sizing: border-box;
}

*, *:after, *:before {
    box-sizing: inherit;
}
body {
    background-color: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
}
h2 {
    font-family: 'PT Sans', sans-serif;
    font-size: 2.4em;
    text-transform: uppercase;
    text-align: center;
}
h2::after {
    content: '';
    margin: 0 auto;
    background-image: url(../img/separador.png);
    height: 30px;
    width: 100px;
    display: block;
}
h3 {
    font-family: 'PT Sans', sans-serif;
    font-size: 1.8em;
    color: #fe4918;
    margin: 0;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.button {
    background-color: #fe4918;
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
    padding: 10px 40px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1em;
    margin-top: 20px;
    display: inline-block;
    transition: all .3s ease;
    border: 2px solid #fe4918;
}
.button.hollow, 
.button.hollow:hover {
    background-color: white;
    color: #fe4918;
}
.button.transparente {
    background-color: transparent;
    border: 2px solid #ffffff;
}
.button.transparente:hover {
    border: 2px solid #e33000;
}
.button:hover {
    background-color: #e33000;
}
.button:disabled {
    pointer-events: none;
    opacity: 0.5;
}
.float-right {
    float: right;
}
.contenedor {
    width: 98%;
    margin: 0 auto;
}
@media only screen and (min-width: 480px) {
    .contenedor {
        width: 95%;
    }
}
@media only screen and (min-width: 768px) {
    .contenedor {
        width: 90%;
    }
}
@media only screen and (min-width: 992px) {
    .contenedor {
        width: 90%;
        max-width: 1100px;
    }
}
.seccion {
    padding: 30px 0;
}
.seccion p {
    font-size: 1.2em;
    text-align: center;
}

/* LETTERING */
h1.nombre-web span {
    position: relative;
    text-shadow: 0 0 30px black;
}
@media only screen and (min-width: 992px) {
    .char1{ 
        color: #fe4918;
        top:5px; right: 20px;
    }
    .char2{ 
        top:0px; left: -20px;
    }
    .char3{ 
        top:-5px; right: 20px;
    }
    .char4{ 
        top:0px; left: -20px;
    }
    .char5{ 
        top:5px; right: 20px;
    }
    .char6{ 
        color: #fe4918;
        top:0; left: -20px;
    }
    .char7{ 
        top:-5px; right: 20px;
    }
    .char8{ 
        top:0px; left: -20px;
    }
    .char9{ 
        color: #fe4918;
        top:5px; right: 20px;
        }
    .char10 {
        top:0px; left: -20px;  
    }
    .char11 {
    top:-5px; right: 20px;
    }
    .char12 {
        top:0px; left: -20px;  
    }
}

/* HEADER */
.hero {
    background-image: url(../img/encabezado.jpg);
    height: 100vh;
    background-position: top center;
    background-size: cover;
}
.contenido-header {
    padding-top: 40px;
}
@media only screen and (min-width: 768px) {
    .contenido-header {
        padding-top: 10px;
    }
}
nav.redes-sociales {
    text-align: center;
}
nav.redes-sociales a {
    color: #ffffff;
    font-size: 2em;
    margin-right: 20px;
}
nav.redes-sociales a:last-of-type {
    margin-right: 0;
}
.informacion-evento {
    background-color: #353535b3;
    width: 90%;
    padding: 1rem;
    margin: 0 auto;
    text-align: center;
    color: #ffffff;
}
@media only screen and (min-width: 768px) {
    .informacion-evento {
        width: 70%;
        margin: 0 auto;
        margin-top: 50px;
    }
}
.informacion-evento p {
    margin: 0;
    display: inline;
    font-size: 15px;
    text-transform: uppercase;
}
.informacion-evento p i {
    color: #fe4918;
    font-size: 2em;
    margin-right: 10px;
}
p.fecha {
    float: left;
}
p.ciudad {
    float: right;
    text-align: right;
}
h1.nombre-web {
    font-family: 'PT Sans', sans-serif;
    font-size: 9vw;
}
@media only screen and (min-width: 768px) {
    h1.nombre-web {
        font-size: 7vw;
        line-height: 1;
        margin: 0;
    }
}
p.slogan {
    text-transform: none;
}
p.slogan span {
    font-weight: bold;
}

/* BARRA */
.barra {
    background-color: #353535;
    padding: 15px 0;
}
.fixed {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99999;
}
.logo {
    width: 80%;
    float: left;
    padding: 10px 10px;
}
.logo img {
    width: 100%;
}
@media only screen and (min-width: 768px) {
    .logo {
        width: 33.3%;
    }
}

/* NAVEGACIÓN PRINCIPAL */
nav.navegacion-principal {
    display: none;
    width: 100%;
}
nav.navegacion-principal a {
    font-family: 'Oswald', sans-serif;
    color: #ffffff;
    font-size: 1.3em;
    text-transform: uppercase;
    text-decoration: none;
    transition: all .3s ease;
    width: 100%;
    display: block;
    text-align: center;
    padding: 5px 0;
    margin-bottom: 5px;
}
nav.navegacion-principal a:hover {
    background-color: #fe4918;
}
nav.navegacion-principal a:last-child {
    border: 2px solid #fe4918;
    color: #fe4918;
}
nav.navegacion-principal a:last-child:hover {
    color: #ffffff;
}
@media only screen and (min-width: 768px) {
    nav.navegacion-principal {
        width: 66.6%;
        float: right;
        text-align: right;
        display: block;
    }
    nav.navegacion-principal a {
        line-height: 35px;
        padding: 10px 10px;
        display: inline-block;
        width: auto;
        text-align: center;
        margin-bottom: 20px 10px 0 0;
    }
}

/* MENU MÓVIL */ 
.menu-movil {
    width: 50px;
    display: block;
    float: right;
    text-align: right;
    margin-top: 12px;
}
.menu-movil:hover {
    cursor: pointer;
}
@media only screen and (min-width: 768px) {
    .menu-movil {
        display: none;
    }
}
.menu-movil span {
    height: 6px;
    margin-bottom: 6px;
    background-color: #ffffff;
    display: block;
}

/* TALLERES */
section.programa {
    position: relative;
}
.contenedor-video {
    max-width: 100%;
    overflow-x: hidden;
}
.contenido-programa {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.programa-evento {
    background-color: rgba(255, 255, 255, .8);
    padding: 15px;
    margin-top: 80px;
}
@media only screen and (min-width: 768px) {
    .programa-evento {
        width: 70%;
    }
}
@media only screen and (min-width: 992px) {
    .programa-evento {
        width: 50%;
    }
}
nav.menu-programa {
    width: 100%;
}
@media only screen and (min-width: 768px) {
    nav.menu-programa {
        display: table;
    }
}
nav.menu-programa a {
    display: block;
    text-align: center;
    color: #000000;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 10px;
    font-size: 1.2em;
    position: relative;
    padding-bottom: 10px;
    border-bottom: 1px solid #fe4918;
}
@media only screen and (min-width: 768px) {
    nav.menu-programa a {
        display: table-cell;
    }
}
nav.menu-programa a i,
.detalle-evento p i {
    color: #fe4918;
    font-size: 1.8em;
    margin-right: 10px;
}
nav.menu-programa a.activo::after {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    height: 20px;
    width: 30px;
    background-image: url('../img/talleres-flecha.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    bottom: -20px;
}
.ocultar {
    display: none;
}
/* DETALLE EVENTO */
.detalle-evento {
    margin-top: 20px;
    border-bottom: 1px solid black;
    padding: 0 20px;
}
.detalle-evento:nth-child(2) {
    border-bottom: none;
}
.detalle-evento p {
    margin-bottom: 20px;
    font-size: 20px;
}

/** INVITADOS **/ 
ul.lista-invitados li {
    padding: 10px;
    float: left;
}
@media only screen and (min-width: 480px) {
    ul.lista-invitados li {
        width: 50%;
    }
}
@media only screen and (min-width: 768px) {
    ul.lista-invitados li {
        width: 33.3%;
    }
}
.invitado {
    position: relative;
    overflow: hidden;
}
.invitado img {
    max-width: 100%;
    filter: gray;
    -webkit-filter: grayscale(1);
    -webkit-transition: all .5s ease-in-out;
}
.invitado:hover img{
    -webkit-filter: grayscale(0);
    -webkit-transform: scale(1.1);
}
.invitado p {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 15px 10px;
    margin: 0;
    background-color: rgba(0, 0, 0, .5);
    width: 100%;
    text-align: left;
    font-family: 'Oswald', sans-serif;
    color: #fe4918;
    text-transform: uppercase;
    transition: all .5s ease-in-out;
}
.invitado:hover p {
    bottom: -80px;
    opacity: 0;
}

/** CONTADOR **/
.parallax::before {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    -webkit-filter: brightness(.8);
    filter: brightness(.8);
}
.contador {
    position: relative;
    height: auto;
}
.contador::before {
    background-image: url(../img/bg-resumen.jpg);
    content: '';
}
ul.resumen-evento {
    position: relative;
    padding: 120px 0;
}
ul.resumen-evento li {
    width: 50%;
    float: left;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
}
@media only screen and (min-width: 768px) {
    ul.resumen-evento li{
        width: 25%;
    }
}
.numero {
    color: #fe4918;
    font-size: 4em!important;
    display: block;
    margin: 0 0 10px 0;
    font-family: 'Oswald', sans-serif;
}
/** TABLA DE PRECIOS **/
ul.lista-precios > li {
    padding: 10px;
}
@media only screen and (min-width: 768px) {
    ul.lista-precios > li {
        float: left;
        width: 33.3%;
    }
}
.tabla-precio {
    border: 1px solid #e1e1e1;
    background-color: #ffffff;
    padding: 40px 0;
    text-align: center;
    transition: all .3s ease;
}
.tabla-precio:hover {
    transform: scale(1.1);
    border: 1px solid #fe4918;
    box-shadow: 0px 0px 50px #666;
}
.tabla-precio ul li {
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #868686;
    line-height: 26px;
}
.tabla-precio ul li::before{
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    display: inline-block;
    vertical-align: top; 
    padding: 0 5px;
    font-size: 20px;
    color: green;
    -webkit-font-smoothing: antialiased; 
    content: "\f00c";
}
.tabla-precio h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
}
.tabla-precio p.numero {
    color: #000000;
    margin: 20px 0;
}

/** MAPA **/
.mapa {
    height: 420px;
}

/** TESTIMONIALES **/
.testimoniales {
    padding-bottom: 20px;
}
.testimonial {
    padding: 5px;
}
@media only screen and (min-width: 768px) {
    .testimonial {
        float: left;
        width: 33.3%;
    }
}
blockquote {
    background-color: #ffffff;
    border: 1px solid #e1e1e1;
    position: relative;
    margin: 0 0 10px 0;
    padding-bottom: 20px;
}
blockquote p {
    text-align: justify!important;
    font-size: 1em!important;
    font-family: 'PT Sans', sans-serif;
    padding: 0 20px 0 65px;
}
blockquote p::before {
    content: '\201c';
    position: absolute;
    left: 13px;
    top: 8px;
    font-size: 8rem;
    margin: 0;
    padding: 0;
    line-height: 1;
    color: #fe4918;
}
footer.info-testimonial {
    padding: 0;
    background-color: transparent;
}
footer.info-testimonial img {
    float: left;
    width: 20%;
    border-radius: 50%;
    margin-left: 20px;
}
footer.info-testimonial cite {
    text-align: left;
    color: #fe4918;
    text-transform: uppercase;
    font-size: 12px;
    padding-top: 20px;
    width: 66.6%;
    float: right;
    font-weight: bold;
    font-style: normal;
}
footer.info-testimonial cite span {
    color: #000000;
    display: block;
    text-transform: none;
    margin-top: 5px
}

/** NEWSLETTER **/
.newsletter {
    position: relative;
    height: auto;
}
.newsletter::before {
    background-image: url(../img/bg-newsletter.jpg);
    content: '';
}
.newsletter .contenido {
    padding: 100px 0;
    color: #ffffff;
    text-align: center;
    position: relative;
}
.newsletter .contenido p {
    font-size: 1.2em;
    text-transform: lowercase;
}
.newsletter .contenido h3 {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 7vw;
    font-family: 'PT Sans', sans-serif;
}

/** CUENTA REGRESIVA **/
.cuenta-regresiva ul li {
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 1.6rem;
    text-align: center;
}
@media only screen and (min-width: 768px) {
    .cuenta-regresiva ul li {
        width: 25%;
        float: left;
    }
}

/** FOOTER **/
footer {
    background-color: #353535;
    padding-top: 40px;
    margin-top: 20px;
}
footer .contenedor > div {
    color: #ffffff;
    padding: 0 20px;
    font-size: 12px;
}
@media only screen and (min-width: 768px) {
    footer .contenedor > div {
        width: 33.3%;
        float: left;
    }
}
footer h3 {
    color: #ffffff;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 20px;
}
footer h3 span {
    color: #fe4918;
}
footer .ultimos-tweets li {
    margin-bottom: 10px;
}
footer nav.redes-sociales {
    text-align: left;
}
p.copyright {
    background-color: #2e2e2e;
    color: #ffffff;
    padding: 10px 0;
    margin: 20px 0 0 0;
    text-align: center;
}

/*** PÁGINAS INTERNAS ***/
/** CONFERENCIA **/
.navegacion-principal .activo {
    border-bottom: 2px solid #fe4918;
}
.galeria {
    display: inline-block;
    margin-bottom: 5px;
}

/** REGISTRO **/
form.registro h3 {
    text-align: center;
    text-transform: uppercase;
    margin: 20px 0 0 0;
}
form.registro label {
    margin-bottom: 5px;
    font-weight: bold;
}
h4 {
    text-transform: uppercase;
    text-align: center;
    border-top: 2px solid #fe4918;
    border-bottom: 2px solid #fe4918;
    padding: 10px 0;
    margin: 0;
    font-size: 1.2em;
}

.caja {
    background-color: #ffffff;
    border: 1px solid #e1e1e1;
    padding: 10px;
    margin: 10px;
}
.campo {
    padding: 20px;
}

@media only screen and (min-width: 768px) {
    .campo {
        float: left;
        width: 33.3%;
    }
}

.paquetes .tabla-precio:hover {
    transform: none;
    box-shadow: none;
}

.paquetes .tabla-precio input {
    clear: both;
    width: 100px;
    margin: 10px auto 0 auto;
    display: block;
}
.contenido-dia {
    padding: 20px;
    display: none;
}
@media only screen and (min-width: 768px) {
    .contenido-dia > div {
        float: left;
        width: 33.3%;
        padding-right: 10px;
    }
}
.contenido-dia > div p {
    text-align: left;
}
.contenido-dia p {
    text-transform: uppercase;
}
.contenido-dia > div label {
    display: block;
    margin-bottom: 10px;
}
.contenido-dia > div input {
    margin-right: 10px;
}
.contenido-dia > div label time {
    color: #fe4918;
    font-weight: bold;
}

/** RESUMEN REGISTRO **/
.resumen p {
    font-size: 1.2em;
    text-transform: uppercase;
}
.resumen .extras {
    padding: 30px;
    border-bottom: 1px solid #fe4918;
}
@media only screen and (min-width: 768px) {
    .resumen .extras {
        float: left;
        width: 50%;
        border-bottom: none;
        
    }
}
.extras .orden {
    text-align: left;
    margin-bottom: 10px;
}
.extras .orden input {
    margin: 10px 0 0 0;
}
.extras .orden select {
    margin: 10px 0;
}
@media only screen and (min-width: 768px) {
    .resumen .total {
        float: right;
        width: 50%;
        border: 1px solid #fe4918;
    }
}
.resumen .total {
    padding: 30px;
}
.resumen .total p {
   text-align: center;
}
.resumen input {
    display: block;
    margin: 10px auto;
}
#lista-productos {
    background-color: #e1e1e1;
    padding: 20px;
    display: none;
}
#suma-total {
    text-align: center;
    font-size: 2em;
    color: #fe4918;
}
input [disabled].button {
    opacity: 0.5;
}
#error {
    clear: both;
    padding: 20px;
    text-align: center;
}

/** CALENDARIO **/
.calendario h3 {
    background-color: #505050;
    clear: both;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.calendario h3 i {
    color: #fe4918;
}

.calendario::after {
    clear: both;
    display: block;
    content: '';
}

.evento {
    width: 100%;
    float: left;
    border: 2px solid #e1e1e1;
    transition: all .3s ease;
}


@media only screen and (min-width: 480px) {
    .evento {
        width: 50%;
        min-height: 240px;
        padding-top: 20px;
    }
}

@media only screen and (min-width: 768px) {
    .evento {
        width: 33.3%;
        min-height: 240px;
        padding-top: 20px;
    }
}

.evento:hover {
    background-color: #e1e1e1;
    -webkit-transform: scale(1.1);
}

.evento .titulo {
    color: #fe4918;
    font-weight: bold;
    text-transform: uppercase;
}

.evento p {
    font-size: 1.1em;
}

.evento i {
    color: #fe4918;
    font-size: 1.2em;
}

/** COLORBOX DETALLE INVITADOS **/
.cboxElement {
    text-align: center;
}

 /* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

 .hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

 
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

   @media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

 
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

   @media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


